
@font-face {
    font-family: test_tiempos_headlineblack;
    src: url("../fonts/testtiemposheadline-black-bf66457a50e385b-webfont.woff2") format("woff2"), url("../fonts/testtiemposheadline-black-bf66457a50e385b-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
*,
:after,
:before {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2f2f2f;
    overflow-x: hidden;
    font-family: 'helvetica_neuemedium';
}
h1, h2, h3, h4,h5, h6{
    font-family: 'helvetica_neuebold';
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0.4em;
}
::-webkit-scrollbar-track {
    border-radius: 0.5em;
}
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, rgba(255, 69, 69, 1) 0%, rgba(206, 16, 16, 1) 100%67e0f7, #6cdbb7);
    background: linear-gradient(180deg, rgba(255, 69, 69, 1) 0%, rgba(206, 16, 16, 1) 100%);
    border-radius: 0.5em;
}
h1{
    font-size: 3em;
    font-weight: 800;
}
h2{
    font-weight: 600;
    font-size: 3em
}
h5{
    font-size: 1em;
    color: #EF3F3F;
    
}

section {
    padding: 80px 0;
    position: relative;
}
.btn {
    background: #CE1010;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}
.btn span {
    padding-right: 1em;
}


/* Banner Start */
.banner{
    background: #1C43B9 ;
    padding: 8em 0;
    /* height: 100vh; */
    overflow: hidden;
}
.banner p{
    font-size: 1.3em;
    font-family: 'helvetica_neuelight';
}
.banner .container{
    z-index: 9;
}
section.banner:before, section.banner:after {
    content: '';
    width: 350px;
    height: 350px;
    background: rgb(9 45 154 / 50%);
    position: absolute;
    left: -8em;
    top: -8em;
    border-radius: 50%;
}
section.banner:after {
    width: 450px;
    height: 450px;
    left: unset;
    right: -7em;
    bottom: -10em;
    top: unset;
}

/* Banner End */

/* Client logos Start */
.marquee .slick-slide, .marquee_rtl .slick-slide {
    margin: 0 30px;
    background: #ffffff;
    padding: 25px 50px;
    border-radius: 50px;
    box-shadow: 0px 5px 18px -10px rgb(0 0 0 / 30%);

}
.marquee .slick-list, .marquee_rtl .slick-list{
    padding: 30px 0;
}
.marquee .slick-slide img, .marquee_rtl .slick-slide img {
    width: 140px;
    height: 40px;
}
/* Client logos End */

/* Testimonials Start */
.testimonials {
    background: #1C43B9 url(../images/bg-img1.png) repeat;
    overflow: hidden;
    background-attachment: fixed;
    background-size: 10%;
}

.testimonials .slick-slider, .testimonials h2{
    z-index: 9;
    position: relative;
}
.testimonials h2, .testimonials p, .testimonials h3{
    color: #fff;
}

.testimonials p{
    font-size: 18px;
}
.testimonials h3 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0;
}
.testimonials .slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 40px;
}

.testimonials .slick-dots li {
    display: inline-block
}

.testimonials .slick-dots li button {
    width: 40px;
    height: 5px;
    background: #fff;
    display: inline-block;
    outline: none;
    text-indent: -9999px;
    border: none;
    margin: 0 5px;
}

.testimonials .slick-dots li.slick-active button {
    background: #CE1010;
}

.box{
    padding: 40px;
    border-radius: 10px;
    background: #343434;
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 12%);
}
.box img {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
}
.box h3{
    font-size: 2.2em;
    line-height: 1.2;
}
.box p{
    font-size: 1.2em;
    font-family: 'helvetica_neuelight';
}
.sticky-top{
    top: 50px;
}


.platform .box:nth-child(2){
    background: #CE1010;
}
.platform .box:nth-child(3){
    background: #1C43B9;
}
/* One Platform End */

.integrate-main{
    background: #f5f5f5;
}

.integrate {
    background: #ffffff;
    padding:3em 2.5em;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 12%);
    position: relative;
}

.integrate span {
    position: absolute;
    top: -30px;
    left: -10px;
    background: #CE1010;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.integrate p{
    margin-bottom: 0;
}


@media only screen and (min-width: 1920px) {
  body{
    font-size: 20px;
  }
}
@media only screen and (max-width: 1024px) {
    .integrate {
        padding: 3em 1.5em;
    }
}
@media only screen and (max-width: 991px) {
    section {
        padding: 50px 0;
    }
    .banner {
        padding: 2em;
    }
    
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 767px) {
    section {
        padding: 40px 0;
    }
    /* .banner {
        padding: 0em;
    } */

    .sticky-top {
        top: 0px;
    }

    .platform h2 {
        margin-bottom: 1em !important;
    }
    
    .integrate-main{
        padding: 40px 15px;
    }
    .integrate {
        margin-bottom: 4em;
    }
    .box{
        padding: 20px;
    }
    .box .col-sm-7.ps-5{
        padding: 30px 10px 0 10px !important;
    }
    .mb-0{margin-bottom: 0;}
    
}


